/* shared styles */


* {
    margin: 0;
    padding: 0;
}

main {
    width: 1340px;
    margin: 0 auto;
}

.start-hero {
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: 100%;
    padding: 177px 0;
    margin-top: 50px;

}


.hero-greetings {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;

}

.hero-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 15px;

}

.container {
    text-align: center;
    padding: 120px 0;
}

.container-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}

.container-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 45px;
}

.container-products {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;

}

.container-image {
    padding-top: 45px;
}

.section {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    padding: 120px 126px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    background-size: cover;

}

.section-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.10px;

}

.section-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.section-button {
    margin-top: 45px;
    margin-left: 40px;
}

.details-item {
    text-align: center;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.color {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}




.details {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-repeat: no-repeat;
    text-align: center;
    margin: 120px 0;
    padding: 100px 0;
    border-radius: 16px;
    display: block;


}

.details-button {
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin-top: 50px;

}


.btn {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin-left: 700px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.item {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.item-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 20px;
}

.item-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 70%;
    margin: 0;
    padding-bottom: 45px;
}

.portfolio-image {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}

.newslatter-section {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin: 120px 0;
    padding: 80px 0;
}

.newslatter-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
}

.newslatter-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 55%;
    margin: 0 auto;
    padding-bottom: 45px;

}

.newslatter-form input[type='email'] {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 250px 25px 0;
    border: none;
    border-radius: 50px 0 0 50px;
    margin: 0;
}

.newslatter-form input[type='submit'] {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 23px 30px 24px 30px;
    margin: 0 0 0 5px;
    background: #F00;
    border-radius: 0px 50px 50px 0px;


}

.hr {
    background: rgba(255, 255, 255, 0.15);
}


.footer {
    background: #070211;
}

.footer {
    width: 1600px;
    margin: 0 auto;
    padding: 120px 0;
}

.footer-section {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    gap: 500px;
}

.footer-address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 250px;
}

.footer-2 {
    display: flex;
    color: #FFF;
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    gap: 15px;
    align-items: center;
}

.footer-last {
    justify-content: center;
    gap: 24px;
    display: flex;
    padding: 50px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

}

.footer-last2 {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 200px;
}

.footer-last3 {
    color: #FFF;
    font-family: inter;
    font-size: 24px;
    font-weight: 500px;
}